#### 10 Academy: Artificial Intelligence Mastery
##### Ethiopian Medical Business:  Building a Data Warehouse  
Ethel.C

#### Data scraping and collection pipeline

In [1]:
import sys

# Add the scripts and src directories to the Python path
scripts_dir = r'E:\DS+ML\AIM3\Week-7\Week-7.Ethiopian-medical-business-Data-Warehouse\scripts'
src_dir = r'E:\DS+ML\AIM3\Week-7\Week-7.Ethiopian-medical-business-Data-Warehouse\src'

# Update the file paths
scraped_file = r"E:\DS+ML\AIM3\Week-7\Week-7.Ethiopian-medical-business-Data-Warehouse\data\all_channels_data.csv"
cleaned_file = r"E:\DS+ML\AIM3\Week-7\Week-7.Ethiopian-medical-business-Data-Warehouse\data\cleaned_data.csv"

# Add directories to Python path if they are not already included
if scripts_dir not in sys.path:
    sys.path.append(scripts_dir)
if src_dir not in sys.path:
    sys.path.append(src_dir)

In [2]:
from extract_transform import extract_data, transform_data, save_cleaned_data
from load_postgresql import create_table, load_to_postgresql

In [3]:
df_raw = extract_data(scraped_file)
df_raw.head()

✅ Data extracted from 'E:\DS+ML\AIM3\Week-7\Week-7.Ethiopian-medical-business-Data-Warehouse\data\all_channels_data.csv' successfully.

,id,text,youtube_links,channel,date,image_path
0,15208,NEUROPRO CARE \nPrice 5500 birr \nTelegram @Lo...,[],lobelia4cosmetics,2025-01-31 12:40:44,15208.jpg
1,864,https://youtu.be/5DBoEm-8kmA?si=LDLuEecNfULJVD...,"[('https://', '', 'youtu.be'), ('https://', ''...",DoctorsET,2023-12-18 17:04:02,864.jpg
2,1247,NaN,[],yetenaweg,2025-01-22 09:50:47,1247.jpg
3,2607,#**Adult_ECHO_Training****@****#ADISS_ABABA_By...,[],EAHCI,2025-01-31 13:45:58,2607.jpg
4,1246,NaN,[],yetenaweg,2025-01-22 09:50:46,1246.jpg

In [4]:
df_cleaned = transform_data(df_raw)
df_cleaned.head()

✅ Data transformation complete.

,id,text,youtube_links,channel,date,image_path,contains_emoji,has_youtube_link
0,15208,NEUROPRO CARE \nPrice 5500 birr \nTelegram @Lo...,[],lobelia4cosmetics,2025-01-31 12:40:44,15208.jpg,NaN,False
1,864,https://youtu.be/5DBoEm-8kmA?si=LDLuEecNfULJVD...,"[('https://', '', 'youtu.be'), ('https://', ''...",DoctorsET,2023-12-18 17:04:02,864.jpg,NaN,False
2,1247,no text,[],yetenaweg,2025-01-22 09:50:47,1247.jpg,NaN,False
3,2607,#**Adult_ECHO_Training****@****#ADISS_ABABA_By...,[],EAHCI,2025-01-31 13:45:58,2607.jpg,NaN,False
4,1246,no text,[],yetenaweg,2025-01-22 09:50:46,1246.jpg,NaN,False

In [5]:
save_cleaned_data(df_cleaned, cleaned_file)

✅ Cleaned data saved to 'E:\DS+ML\AIM3\Week-7\Week-7.Ethiopian-medical-business-Data-Warehouse\data\cleaned_data.csv'.

In [6]:
create_table()

✅ Database 'Ethio_Medical_Database' created successfully.
✅ Connected to database 'Ethio_Medical_Database'.
✅ Table 'medical_database' created successfully.

In [7]:
load_to_postgresql(cleaned_file)

✅ Data successfully loaded into 'medical_database' in 'Ethio_Medical_Database'.